.info{
    position: absolute;
    top: 980px;
    bottom: 51px;
    z-index: 1;
    background-color: #ffffff;
}

.wrapper{
    margin: 169px 275px 0;
    display: flex;
    justify-content: space-between;
    

}
.intro-info{
    display: flex;
    justify-content: space-between;
    position: absolute;
width: 1391px;
height: 327px;
padding: 100px;


}

.box{
    padding: 40px;
    font-size: 25px;
    border: 1px solid black;
    width: 441px;
    height: 856px;
    margin-top: 468px;

}


