.info{
    position: absolute;
    top: 980px;
    bottom: 51px;
    z-index: 1;
    background-color: #ffffff;
}

.wrapper{
    margin: 169px 275px 0;
    display: flex;
    justify-content: space-between;

}
.intro-info{
    display: flex;
    justify-content: space-between;
    position: absolute;
width: 1391px;
height: 327px;
padding: 100px;


}

.box-wrapper {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    
}

.box{
    padding-top: 40px;
    font-size: 25px;
    border: 1px solid black;
    margin-top: 468px;
    max-width: 20%;
    height: 900px;
}

.box-01 {
    justify-content: flex-start;
}

.box-02 {
    justify-content: flex-end;
}

.box-03 {
    justify-content: flex-ce;
}