.intro{
    background-image: url(radu-florin-CwTBt6jyagQ-unsplash.jpg);
    background: linear-gradient(90deg, #51545b 0%, #767a85 90.71%);
    position: absolute;
    width: 1920px;
    height: 1184px;
    left: 271px;
    top: -91px;

}

h1{
    
}

